<div class = "container">
  <div class="row">
     <div class="col-md-6">
        <ul>
          {{#each burgers}}
          <li>
            <p>
              {{this.id}}. {{this.burger_name}} 
              <button data-burgerid="{{this.id}}" class="devourIt">Devour It</button>
            </p>
          </li>
          {{/each}}
        </ul>
        <h2>Enter your burger</h2>
        <form id = "eatBurger" class="button-size">
          <textarea type="text" name="burger"></textarea>
          <button type="submit">Enter your choice of burger</button> 
        </form> 
   </div>

   <div class="col-md-6" id= "devouredBurger">
       <h2>Devour it here!</h2>
    </div>
  </div>

</div>


