.container{
    text-align: center;
    width: 1000px;
    height: auto;
    border: 1px solid orange;
    background-color: orange;
    font-size:14px;
}

#burgerImg{
    margin-top: 50px;
}

#enterBurger{
   margin-top: 30px;
   font-weight: bold;
}
#textArea{
    background-color:aliceblue;
    border-radius: 1px;
}
#yourBurger-body, #devouredBurger-body{
    /* background-color: gray; */
    font-size: 14px;
}
.devourIt, .cleanUp{
    margin-left: 20px; 
}